.advice {
    width: 100px;
    height: 100px;
    background-color: transparent;
    -webkit-transition: width 2s;
    /* Safari */
    transition: width 2s;
    margin-top: 40px;
    margin-bottom: 100px;
}

.advice:hover {
    width: 300px;
}

.advice {
    box-shadow: 14px 13px 16px 0px rgba(0, 0, 0, 0.75);
}

.advice h2 {
    color: aliceblue;
    text-align: center;
}