img {
    width: 800px;
    height: 400px;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all ease 0.5s;
}

img:hover {
    transform: scale(0.98);
    opacity: .7;
}