* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #1a1e23;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: black;
    font-family: "Times New Roman", Times, serif;
}